// topbar button css
.btn-logout 
{
    width: 94px;
    height: 34px;
    background: #EEEEFB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border:none;
    color: #595991;
    cursor: pointer;
}