body {
    font-family: 'Poppins' !important;
}



// =========================================================
//                          Font sizes
// =========================================================

.f-12 {
    font-size: 12px !important;
}
.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}
.f-18 {
    font-size: 18px !important;
}



// =========================================================
//                          Font Weight
// =========================================================

// light
.fw-300 {
    font-weight: 300 !important;
}

// regular
.fw-400 {
    font-weight: 400 !important;
}
.fw-600 {
    font-weight: 600 !important;
}

// =========================================================
//                          Margins/Paddings
// =========================================================

// top margins
.mt-5-px {
    margin-top: 5px !important;
}
.mt-9-px {
    margin-top: 9px !important;
}
.mt-15-px {
    margin-top: 15px !important;
}
.mt-20-px {
    margin-top: 20px !important;
}
.mt-21-px {
    margin-top: 21px !important;
}
.mt-23-px {
    margin-top: 23px !important;
}
.mt-28-px {
    margin-top: 28px !important;
}
.mt-30-px {
    margin-top: 30px !important;
}
// left margin
.ml-4-px {
    margin-left: 4px !important;
}
.ml-9-px {
    margin-left: 9px !important;
}
.ml-11-px {
    margin-left: 11px !important;
}
.ml-14-px {
    margin-left: 14px !important;
}
.ml-16-px {
    margin-left: 16px !important;
}
.ml-30-px {
    margin-left: 30px !important;
}
.ml-47-px {
    margin-left: 47px !important;
}

// right side margins
.mr-10-px {
    margin-right: 10px !important;
}
.mr-20-px {
    margin-right: 20px !important;
}
.mr-26-px {
    margin-right: 26px !important;
}
.mr-27-px {
    margin-right: 27px !important;
}
.mr-30-px {
    margin-right: 30px !important;
}
.mr-61-px {
    margin-right: 61px !important;
}


// bottom margin
.mb-21-px {
    margin-bottom:21px !important;
}
.mb-22-px {
    margin-bottom:22px !important;
}
.mb-50-px {
    margin-bottom:50px !important;
}


// =========================================================
//                          Paddings
// =========================================================


.pt-4-px {
    padding-top:4px !important;
}
.pt-5-px {
    padding-top:5px !important;
}
.pt-14-px {
    padding-top:14px !important;
}
.pt-24-px {
    padding-top:24px !important;
}
.pb-6-px {
    padding-bottom:6px !important;
}
.pb-22-px {
    padding-bottom:22px !important;
}
.pl-15-px {
    padding-left:15px !important;
}
.pl-24-px {
    padding-left:24px !important;
}
.pl-27-px {
    padding-left:27px !important;
}
.pl-35-px {
    padding-left:35px !important;
}


.pl-pt-15
{
    padding-left: 15px !important;
    padding-top: 15px !important;
}


// =========================================================
//                          Color
// =========================================================

.color-danger {
    color: #ff0000 !important;
}

.color-success {
    color: #40af3c !important;
}
.color-white {
    color: #FFFFFF !important;
}
.color-light-gray 
{
    color:#686874;
}
.color-purple 
{
    color:#343379;
}


// =========================================================
//                         BG-Color
// =========================================================

.bg-sidebar {
    background: transparent linear-gradient(169deg, #343379 0%, #089752 100%) 0% 0% no-repeat padding-box;
}
.sidebar-menu-active {
    background: transparent linear-gradient(289deg, #2D2BA8 0%, #089752 100%) 0% 0% no-repeat padding-box;
}
.card-table-bg {
    background-color: #FCFCFC !important;
}
.card-dot-purple-bg {
    background-color: #343379 !important;
}
.card-dot-green-bg {
    background-color: #089752F2 !important;
}




// =========================================================
//                         width
// =========================================================

.w-100-p
{
    width: 100% !important;
}
.w-212
{
    width: 212px !important;
}



// line height css

.lh-25-px 
{
    line-height: 25px !important;
}
.lh-27-px 
{
    line-height: 27px !important;
}