.academic_calendar_wrapper {
    padding-top: 91px;
    padding-left: 249px;
    margin-right: 26px;
    .cards 
    {
        min-height: 532px;
    }

    .hr-css {
        width: 370px;
        height: 0px;
        border: 1px solid #E2E2E2;
    }
}