
.graduateStudents_wrapper
{
    padding-top: 91px;
    padding-left: 249px;
    margin-right: 26px;
    .graduate-student-select-box
    {
        .ant-select-arrow 
        {
            color:black !important;
        }
    }
}